In [1]:
import pandas as pd

In [41]:

birth_rate_df = pd.read_csv("../Raw Datasets/birth-rate.csv") # (births per 1,000 population)
infant_mortality_df = pd.read_csv("../Raw Datasets/infant-mortality.csv") # (per 1,000 live births)
life_expectancy_gdp = pd.read_csv("../Raw Datasets/life-expectancy-vs-gdp-per-capita.csv")

In [72]:
merged_df = birth_rate_df.merge(infant_mortality_df, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))
merged_df.drop(merged_df.filter(regex='_y$').columns.tolist(),axis=1, inplace=True)

merged_df = merged_df.merge(life_expectancy_gdp, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))
merged_df.drop(merged_df.filter(regex='_y$').columns.tolist(),axis=1, inplace=True)

,Entity,Code,Year,BirthRate,Mortality rate,Life expectancy,GDP per capita,Population (historical estimates)
0,Afghanistan,AFG,1950.0,49.991,23.20,27.638,1156.0,7752117.0
1,Afghanistan,AFG,1951.0,50.076,22.78,27.878,1170.0,7840151.0
2,Afghanistan,AFG,1952.0,50.241,22.39,28.361,1189.0,7935996.0
3,Afghanistan,AFG,1953.0,50.399,21.99,28.852,1240.0,8039684.0
4,Afghanistan,AFG,1954.0,50.548,21.61,29.350,1245.0,8151316.0

In [34]:
birth_rate_df_2000_2019 = birth_rate_df[(birth_rate_df["Year"]>=2000) & (birth_rate_df["Year"]<=2019)]
birth_rate_df_2000_2019_g = birth_rate_df_2000_2019.groupby(["Entity","Code"]).count().reset_index()

In [42]:
infant_mortality_df_2000_2019 = infant_mortality_df[(infant_mortality_df["Year"]>=2000) & (infant_mortality_df["Year"]<=2019)]
infant_mortality_df_2000_2019_g = infant_mortality_df_2000_2019.groupby(["Entity","Code"]).count().reset_index()

In [45]:
life_expectancy_gdp_2000_2019 = life_expectancy_gdp[(life_expectancy_gdp["Year"]>=2000) & (life_expectancy_gdp["Year"]<=2019)]
life_expectancy_gdp_2000_2019_g = life_expectancy_gdp_2000_2019.groupby(["Entity","Code"]).count().reset_index()

In [74]:
le_20_country = set(life_expectancy_gdp_2000_2019_g[life_expectancy_gdp_2000_2019_g["Life expectancy"]==20]["Entity"])
mr_20_country = set(infant_mortality_df_2000_2019_g[infant_mortality_df_2000_2019_g["Mortality rate"]==20]["Entity"])
br_20_country = set(birth_rate_df_2000_2019_g[birth_rate_df_2000_2019_g["BirthRate"]==20]["Entity"])

In [75]:
countries_list = list(le_20_country.intersection(mr_20_country).intersection(br_20_country))

In [77]:
final_df = merged_df[merged_df["Entity"].isin(countries_list)]
final_df.head()
final_df.to_csv("../Raw Datasets/Barplot_Dataset.csv")

In [78]:
final_df.head()

,Entity,Code,Year,BirthRate,Mortality rate,Life expectancy,GDP per capita,Population (historical estimates)
0,Afghanistan,AFG,1950.0,49.991,23.20,27.638,1156.0,7752117.0
1,Afghanistan,AFG,1951.0,50.076,22.78,27.878,1170.0,7840151.0
2,Afghanistan,AFG,1952.0,50.241,22.39,28.361,1189.0,7935996.0
3,Afghanistan,AFG,1953.0,50.399,21.99,28.852,1240.0,8039684.0
4,Afghanistan,AFG,1954.0,50.548,21.61,29.350,1245.0,8151316.0